<!DOCTYPE html>
<html>
	<head>
		<meta name="description" content="Foo about bar" />
		<meta name="keywords" content="Foo, Bar" />
		<meta charset="UTF-8" />
		<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css"/>
		<link type="text/css" rel="stylesheet" href="/css/bootstrap-responsive.min.css"/>
		<link type="text/css" rel="stylesheet" href="/css/login.css" />
		
		<script type="text/javascript" src="/js/jquery-1.10.2.min.js"></script>
		<script type="text/javascript" src="/js/jquery-ui.js"></script>
		<script type="text/javascript" src="/js/login.js"></script>
		
	</head>
	<body>
		
		<div class="row-fluid heigh100p padding-top30">
			
			<div class="span4 offset2" id="login">
				<div class="row-fluid margbot40">
					<div class="span12"> 
						<img src="/img/login_key.svg" id="key" onclick="printLoginForm();">
					</div>
				</div> 
				<div class="row-fluid">
					<div class="span12"> 
						<h1>Login</h1>
					</div>
				</div>
			</div>
			<div class="span4 offset2" id="signup-form">
				<form class="well form-actions" action="/users" method="POST">
					<div class="row-fluid">
						<button class="btn btn-block btn-primary margbot20"> Login with Facebook</button>
					</div>
					<div class="row-fluid">
						<div class="span6">
							<input type="text" name="pseudo" placeholder="usermane" class="width100p" />
						</div>
						<div class="span6">
							<input type="password" name="password" placeholder="password" class="width100p"/>
						</div>
					</div>
					
					<input type="text" name="email" placeholder="email"  class="width100p"/>
					
					<div id="more" onclick="printMoreOptions();"> <span class="btn btn-block btn-inverse">more</span></div>
					<div id="more-options">
						<input type="text" value="adresse" class="width100p">
						<input type="text" value="telephone" class="width100p">
					</div>
					<button class="btn btn-block btn-inverse margtop20"> Login</button>
				</form>
			</div>
			
			<div class="span4" id="signup">
				<div class="row-fluid margbot40">
					<div class="span12"> 
						<img src="/img/signup_user.svg" id="key" onclick="printSignupForm();" >
					</div>
				</div> 
				<div class="row-fluid">
					<div class="span12"> 
						<h1>Signup</h1>
					</div>
				</div>  
			</div>
			<div class="span4" id="login-form">
				<form class="well form-actions">
					<button class="btn btn-block btn-primary margbot20"> Login with Facebook</button>
					<input type="text" value="email"  class=" width100p"/>
					<input type="text" value="password" class=" width100p"/>
					<button class="btn btn-block btn-inverse margtop20"> Login</button>
				</form>
			</div>
		</div>
		
	
	</body>
</html>